# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
*.iml
out
gen
!/.idea/
!/.idea/*
/nacos-k8s.iml

.DS_Store
/.idea/vcs.xml
/.idea/nacos-k8s.iml
/.idea/modules.xml
/.idea/.gitignore
/.idea/encodings.xml
/.idea/misc.xml
.idea/workspace.xml
